.edit-cluster-form {
  .clipboard-addon {
    background-color: $white-light;
  }
}

.cluster-applications-table {
  // Wait for the Vue to kick-in and render the applications block
  min-height: 302px;
}

.clusters-dropdown-menu {
  max-width: 100%;
}

@include new-style-dropdown('.clusters-dropdown ');
